<div id="about-us" class="container mt-5 mb-5">
<div class="about-us-content mt-5 mb-5">

<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 right">
<a href="#"><img class="img-fluid" src="/layout/ceres1/daten/rechnung1.jpg" alt="#"></a>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 left">
<div class="cms-block f-right">

<h3 class="page-subheading">die Zahlung per Rechnung</h3>
<p>Als Stammkunde haben Sie ewtl.die Wahl per Rechnung zu zahlen! Sie erhalten die Rechnung zusammen mit den bestellten Artikeln. Den Rechnungsbetrag überweisen Sie dann direkt nach Erhalt der Ware auf unser Konto. Fragen Sie nach den Stammkunden Status.</p>

</div>
</div>
</div>
</div>
</div>
