<div id="about-us" class="container mt-5 mb-5">
<div class="about-us-content mt-5 mb-5">

<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 right">
<a href="#"><img class="img-fluid" src="/layout/ceres1/daten/kleid1.jpg" alt="#"></a>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 left">
<div class="cms-block f-right">

<h3 class="page-subheading">ARBEITSKLEIDUNG BESTICKEN UND BEDRUCKEN</h3>
<p>Bei uns können Sie Ihre Arbeitskleidung besticken oder bedrucken lassen. Wir bieten Ihnen ein breites Sortiment an Bekleidung von Jacken über Latzhosen bis hin zu Overalls an.</p>
<h5>GRATIS-LAYOUT MIT IHREM LOGO</h5>
<p>Bei uns sind Sie immer auf der sicheren Seite: wir erstellen Ihnen gerne auf Wunsch ein GRATIS-Layout der ausgewählten Artikel mit Ihrem Logo. So können Sie gleich sehen, wie schön das Logo auf der Bekleidung wirkt und ob Größe und Position passen. <strong>Dieser Service ist kostenlos für Sie.</strong></p>
<br>
<h5><strong>Wir freuen uns auf Ihren Anruf: 0800 55 22 600</strong></h5>
</div>
</div>
</div>
</div>
</div>
