<div id="about-us" class="container mt-5 mb-5">
<div class="about-us-content mt-5 mb-5">

<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 right">
<a href="#"><img class="img-fluid" src="/layout/ceres1/daten/leasing1.jpg" alt="#"></a>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 left">
<div class="cms-block f-right">

<h3 class="page-subheading">Sie sind auf der Suche nach einer bequemen Zahlungsmethode?</h3>
<p>Die hohe Flexibilität bei der Laufzeit von Finanzierungsverträgen erleichtert es Ihnen, Ihren Gerätepark ständig dem schnellen, technologischen und inhaltlichen Wandel anzupassen.</p>
<p>Durch unsere Finanzierungsmodelle erhalten Sie eine sichere, überschaubare sowie unkomplizierte Kalkulationsbasis und verbessern gleichzeitig Ihre Liquidität. Der Ausgleich der monatlichen Raten aus zeitnah erwirtschafteten Erträgen bindet für Sie keine weiteren flüssigen Mittel.</p>
<p>Zusammen mit unserem Leasingpartner „abcfinance“ können wir Ihnen Leasing- und Mietkaufangebote für Reinigungsmaschinen zu günstigen Konditionen bereitstellen. <br>Mögliche Laufzeiten sind: 24 bis 84 Monate.</p>

</div>
</div>
</div>
</div>
</div>
