<div class="container mt-5 mb-5">
								<div class="about-us-content mt-5 mb-5">

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 right">
											<a href="#">
												<img class="img-fluid" src="http://tivatheme.com/html/furnitica/img/other/1.jpg" alt="#">
											</a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 left">
											<div class="cms-block f-right">

<h3 class="page-subheading">GROßHANDELSPARTNER</h3>
<p>Als zuverlässiger Großhandelspartner bieten wir Gewerbebetrieben
professionellen Reinigungsbedarf, Hygieneartikel und alles, was Sie für die Gebäudereinigung und Küchenreinigung brauchen in der bewährten Dekushop-Qualität -
und das zu wirklich attraktiven Konditionen.</p>
<br>
<h3 class="page-subheading no-before">PREISANFRAGEN? KEIN PROBLEM.</h3>
<p>Wir sind gern bereit, Ihnen für das gewünschte Artikel vorab einen Preis zu nennen. Für Anfragen benutzen Sie bitte das
  <a href="{{ urls.contact }}"><u>Kontaktformular</u></a>.</p>


                    	</div>
										</div>

									</div>
								</div>
							</div>
