<div id="about-us" class="container mt-5 mb-5">
<div class="about-us-content mt-5 mb-5">
<div class="row">


<div class="col-lg-6 col-md-6 col-sm-6 right">
	<a href="#"><img class="img-fluid" src="/layout/ceres1/daten/uu1.jpg" alt="#" /></a>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 left">
	<div class="cms-block f-right">
	<h3 class="page-subheading">Der günstige Fachgroßhandel im Raum Frankfurt am Main</h3>
	<p>Dekushop.de ist der neue Onlineshop für Hygiene- und Reinigungsartikel in Frankfurt am Main mit einer der größten Produktpaletten für den gewerblichen sowie privaten Bedarf. Unseren Kunden bieten wir ideale
	Lösungen zu Reinigungs- und Hygieneangelegenheiten jeglicher Art an.
	</p>
	<br>
	<p style="text-transform:uppercase;"><strong>Große Produktauswahl zu fairen Preisen</strong></p>
	<p>In einem breit gefächerten Markensortiment präsentieren wir aus-schließlich Qualitätsprodukte zu Bestpreisen.
	Profitieren Sie von unseren Rabatten und Mengenstaffeln, sowie günstigen Großhandelspreisen. Auf unserer 1.600 m² großen Lagerfläche befinden sich unterschiedlichste Reinigungsmittel, Reinigungsgeräte sowie alles rund um die Arbeistsschutzbekleidung von Top-Markenprodukten.</p>
	</div>
</div>


<div class="col-lg-6 col-md-6 col-sm-6 right">
	<div class="cms-block f-left">
	<h3 class="page-subheading">Kostenlose Lieferung im Raum Frankfurt</h3>
	<p>Wir liefern Europaweit über den Versanddienstleister DPD bequem an Ihre Wunschadresse. Ab einem Einkaufswert von 350 € lassen wir Ihnen Ihre bestellte Ware kostenlos im Raum Frankfurt (20km Umkreis) zukommen. Selbstverständlich können Sie Ihre Ware auch gerne in unserem Lager in Frankfurt abholen.
	</p>
	<br>
	<p style="text-transform:uppercase;"><strong>Servicebereit und professionell</strong></p>
	<p>In unserem Abhollager stehen Ihnen unsere erfahrenen Mitarbeiter aus der Reinigungsbranche jederzeit für eine individuelle Beratung zur Verfügung. Diese beinhaltet eine komplette Schulung für eine einwandfreie Anwen-dung der Reinigungsgeräte sowie Hygieneprodukte. </p>
	</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 left">
	<a href="#"><img class="img-fluid" src="/layout/ceres1/daten/uu2.jpg" alt="#" /></a>
</div>


<div class="col-lg-6 col-md-6 col-sm-6 right">
	<a href="#"><img class="img-fluid" src="/layout/ceres1/daten/uu3.jpg" alt="#" /></a>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 left">
	<div class="cms-block f-right">
		<br><br>
	<h3 class="page-subheading">Mehr als 5000 Markenprodukte </h3>
	<p>Treffen Sie eine Auswahl aus mehr als 5000 Top-Markenprodukten. Wir beraten Sie persönlich über unsere günstigen Produktangebote vor Ort. </p>
	<p>Über unseren Webauftritt www.dekushop.de erreichen Sie alles rund um die professionelle Reinigung für den gewerblichen und privaten Bedarf. Hier können Sie Europaweit ganz bequem Ihre Ware bestellen, die wir dann gerne an Sie zustellen. Mehrmalige Auslieferungen pro Tag sind innerhalb Frankfurts im Umkreis von 20km möglich.</p>
	</div>
</div>


<div class="col-md-12">
	<div class="cms-block uberblick">
		<h3 class="page-subheading">Unsere Leistungen im Überblick:</h3>
		<p><strong><i class="fa fa-check"></i> ABHOLLAGER & SHOWROOM</strong><br>In unserem neuen Showroom mit dem angrenzenden Abhollager warten über 5.000 unterschiedliche Artikel auf Sie, die ständig vorrätig sind. </p>
		<p><strong><i class="fa fa-check"></i> INDIVIDUELLE BERATUNG </strong><br>Sie benötigen professionelle Reinigungsmittel und Reinigungsmaschinen? Wir informieren, beraten und liefern – genau auf Ihren individuellen Bedarf abgestimmt. </p>
		<p><strong><i class="fa fa-check"></i> GROßE AUSWAHL AN MARKENPRODUKTEN </strong><br>Qualität ist kein Zufall – Daher arbeiten wir seit vielen Jahren mit vertrauensvollen Partnern zusammen, deren Marken für kundenorientierte Lösungen und verlässliche Qualität stehen.</p>
		<p><strong><i class="fa fa-check"></i> LIEFERUNG IN GANZ DEUTSCHLAND </strong><br>Auch bei der Lieferung richten wir uns ganz nach Ihren Vorstellungen und wählen den bestmöglichen Weg.</p>
		<p><strong><i class="fa fa-check"></i> PERSÖNLICHER SERVICE </strong><br>Zuverlässigkeit, Vertrauen und Verantwortungsgefühl prägen den partnerschaftlichen Umgang mit unseren Kunden.</p>
		<p><strong><i class="fa fa-check"></i> BEQUEM PER RECHNUNG ZAHLEN</strong><br>Sie können bei uns auch bequem per Rechnung bezahlen. Ihre Rechnung erhalten Sie entweder bei Abholung der Waren oder mit der Versandbestätigung via E-Mail.</p>
		<p><strong><i class="fa fa-check"></i> SONDERKONDITIONEN FÜR REGISTRIERTE FIRMENKUNDEN </strong><br>Lassen Sie sich als Stammkunde eintragen und genießen Sie die Vorteile aus attraktiven Konditionen und Sonderangeboten.</p>
		</div>
</div>


</div></div></div>
