<form action="https://newsletter.dekushop.com/lists/5cf92c0c986f9/embedded-form-subscribe-captcha" method="POST" target="_blank" class="form-validate-jqueryz">
<div class="form-group control-text">
<input id="EMAIL" placeholder="E-Mail-Adresse" type="text" name="EMAIL" class="form-control required email " required>
</div>
<div class="form-group control-text">
<input id="FIRMA" placeholder="Firma" type="text" name="FIRMA" class="form-control " required>
</div>
<div class="form-button">
<button class="btn btn-primary">Abonniere</button>
</div>

<div class="form-group control-text">
  <br>
  <input type="checkbox" required="" name="TermsAndConditionsCheck" value="1" oninvalid="this.setCustomValidity('Bitte Akzeptieren Sie unsere Datenschutzerklärung')" oninput="this.setCustomValidity('')">
 Hiermit akzeptiere ich die <a href="{{ urls.privacyPolicy }}" title="Datenschutzerklärung" target="_blank"><u>Datenschutzerklärung</u></a>.
</div>

</form>
