<script type="x/template" id="vue-newsletter-input">
        <form :id="'newsletter-input-form_' + _uid">

<div class="input-group">

    <input type="email" class="form-control" :id="'email-input-id_' + _uid" v-model="email">




<span class="input-group-btn">
  <button type="button" class="effect-btn btn btn-secondary" @click="validateData" :disabled="isDisabled">
  <i v-waiting-animation="isDisabled" class="" aria-hidden="true" aria-hidden="true"></i> Abonnieren
  </button>
</span>

</div>

<div class="col-xs-12" v-if="showPrivacyPolicyCheckbox" style="margin-top:10px">
    <div class="form-check small" data-validate>
        <input type="checkbox" class="form-check-input" :id="'privacy-policy-accept-id_' + _uid" name="privacy-policy-accept" v-model="privacyPolicyValue">
        <label :for="'privacy-policy-accept-id_' + _uid" class="form-check-label">
            {% autoescape false %}
                {% set policyContent %}
                    <a href="{{ urls.privacyPolicy }}" target="_blank">
                        <span class="text-primary text-appearance">{{ trans("Ceres::Template.checkoutPrivacyPolicy", {"hyphen": "&shy;"}) }}</span>
                    </a>
                {% endset %}
                {{ trans('Ceres::Template.newsletterAcceptPrivacyPolicy', {"policy": policyContent} ) }}
            {% endautoescape %}
        </label>
    </div>
</div>

      </form>
</script>
