<script type="x/template" id="vue-item-filter-list">
    <div class="filter-wrapper" v-show="facets && facets.length > 0">
        {{ component( "CeresCoconut::ItemList.Components.Filter.ItemFilter") }}
        {{ component( "CeresCoconut::ItemList.Components.Filter.ItemFilterPrice") }}

        <div id="filterCollapse">
            <div class="container-max page-content component-loading" :class="{ 'isLoading': isLoading }">
                <div class="card-columns" :onclick="toggleOpeningState()">
                    <item-filter v-for="facet in facets" :facet="facet" :key="facet.id"></item-filter>
                </div>

            </div>
        </div>
    </div>
</script>
